* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    --principal-color: #f00;
    --second-color: #fff;
    --third-color: #8294aa;
    --border-radius: 20px;
    background-color: var(--second-color);
}

button {
    border-radius: 7px;
    cursor: pointer;
}

button, .menu--open__label--check-box, .list__item {
    cursor: pointer;
}

/*Nav*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--second-color);
    padding: 10px 0;
    container-type: inline-size;
    container-name: nav_container;
    position: sticky;
    top: 0;
    background-color: var(--principal-color);
    z-index: 5;
}

.nav__logo--business {
    border: solid 2px transparent;
    width: 10%;
    height: 70px;
    margin-left: 20px;
    background: url('images-folder/logo/logo-travel.webp') center / cover no-repeat;
}

.nav__title {
    font-size: 1.5em;
    font-family: cursive sans-serif;
    text-shadow: 2px 2px 5px black;
    color: var(--second-color);
}

.nav__list, .menu--open__input--check-box {
    display: none;
}

.nav__list {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    background-color: var(--principal-color);
    z-index: 10;
}

.list__item {
    list-style: none;
    text-align: center;
    font-size: 1.6em;
}

.list__item a {
    text-decoration: none;
    color: var(--second-color);
}

.list__item:hover,  .item-list__button-contact:hover{
    font-weight: 600;
}

.item-list__button-contact {
    padding: 5px 20px;
}

.menu--open__label--check-box {
    position: relative;
    right: 20px;
    font-size: 3em;
    font-weight: 800;
    z-index: 20;
    color: var(--second-color);
}


.menu--open__input--check-box:checked ~ .nav__list {
    display: flex;
}

    /*Nav container*/
@container nav_container (min-width: 1030px) {
    .nav__logo--business {
        background-size: 60%;
    }
}

/*Nav End*/

/*Main Header*/

    .main__header {
        margin-bottom: 5%;
        border-bottom: solid 4px black;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: url('images-folder/bc-header/back-mobile.jpg') center / cover fixed no-repeat;
    }

    .header__text, span {
        text-shadow: 10px 1px 10px black;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
    }

    .header__text-tittle {
        font-size: 4em;
        letter-spacing: 8px;
    }

    .text-title__ecu {
        color: yellow;
    }

    .text-title__ad {
        color: blue;
    }

    .text-title__or {
        color: red;
    }

    .header__text-introduction {
        font-size: 1.5em;
        letter-spacing: 3px;
        color: white;
        font-weight: 800;
    }

    .header__link-information {
        text-decoration: none;
        font-size: 1.3em;
        color: white;
        letter-spacing: 2px;
    }

    .header__link-information:hover {
        text-decoration: underline;
        color: yellow;
    }

    .header__text {
        text-align: center;
    }

/*End Main Header*/

/*section about*/

    .main__section-about {
        padding: 20px;
        background-color: var(--third-color);
        color: var(--second-color);
    }

    .main__section-about p, .main__section-about li, .main__section-about a {
        font-size: 1.5rem;
    }

    .section-about__box-introduction {
        text-align: center;
    }

    .section-about__box-introduction h2 {
        font-size: 2.5em;
    }

    .box-introduction__presentation-card, .box-about-text__main-text, .box-about-text__list {
        margin-bottom: 20px;
    }

    .link-destinies {
        text-decoration: none;
        color: var(--second-color);
    }

    .link-destinies:hover {
        text-decoration: underline;
        color: var(--principal-color);
    }

    .box-about-text__list {
        padding-left: 20px;
    }

    .section-about__map-ec {
        margin: 20px auto;
        border: solid 2px black;
        border-radius: var(--border-radius);
        width: 300px;
        height: 300px;
        background:
        url('images-folder/ec-ub/localizacion-geografica-de-ecuador.jpg') center / cover;
    }


/*End section about*/

/*Section Services*/

.main__section-packages {
    font-size: 1.2rem;
    padding: 20px;
    gap: 30px;
    container-type: inline-size;
    container-name: section_packages;
}

.main__section-packages, .pack-box__content {
    display: flex;
    flex-direction: column;
}

.pack-box__content ul {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    flex-wrap: wrap;
    gap: 15px 25px;
}

.pack-box__content ul li {
    padding: 10px;
    list-style-type: none;
    flex-shrink: 100px;
    max-width: 200px;
    border: solid 1px black;
    border-radius: var(--border-radius);
    background-color: var(--principal-color);
    color: var(--second-color);
    height: fit-content;
}

li > b {
    color: #333;
}

.pack-box__content {
    gap: 15px;
}

.pack-box__img {
    margin: 50px auto;
    border: solid 2px black;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px black;
    position: relative;
    animation: img_box_animation linear;
    animation-timeline: view();
    animation-range: entry 2% cover 30%;
    animation-fill-mode: both;
    transition: background-size 5s;
}


.img-galapagos {
    background: url('images-folder/destinies/galapagos/ph-gala.jpg') center / cover no-repeat;
}

.img-quito {
    background: url('images-folder/destinies/andes/ph-quito.jpg') center / cover no-repeat;
}

.img-cuenca {
    background: url('images-folder/destinies/andes/ph-cuenca.jpg') center / cover no-repeat;
}

.img-tungu {
    background: url('images-folder/destinies/andes/ph-tungu.jpg') center / cover no-repeat;
}

.img-guaya {
    background: url('images-folder/destinies/coast/ph-guaya.jpg_alt=media') center / cover no-repeat;
}

.img-manabi {
    background: url('images-folder/destinies/coast/ph-manabi.webp') center / cover no-repeat;
}

.img-napo {
    background: url('images-folder/destinies/jungle/ph-napo.webp') center / cover no-repeat;
}

.img-galapagos:hover, .img-quito:hover, .img-tungu:hover {
    background-size: 110%;
}

.img-napo:hover, .img-cuenca:hover, .img-guaya:hover, .img-manabi:hover {
    background-size: 150%;
}


@keyframes img_box_animation {
    0% {
        left: 10%;
        opacity: 1%;
    }

    70% {
        opacity: 2%;
    }

    100% {
        left: 0;
        opacity: 100%;
    }
}

@container section_packages (min-width: 1004px) {
    .section-packages__pack-box {
        display: flex;
        gap: 40px;
    }

    .pack-box__content {
        flex: 4 0;
    }

    .pack-box__img {
        flex: 1 3 300px;
        height: 320px;
    }
}

/*End Section Services*/

/*Form Contact Section*/

.section--form-container__form {
    color: var(--second-color);
    margin: 100px auto;
    padding: 25px;
    width: auto;
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: var(--principal-color);
    box-shadow: 0 0 20px black;
}

.section--form-container__form h2 {
    text-align: center;
}

.section--form-container__form button {
    margin-top: 20px;
    align-self: center;
    width: 30%;
    min-width: 100px;
    max-width: 150px;
    padding: 3px 0;
    background-color: var(--second-color);
    color: var(--principal-color);
    font-weight: 600;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

.section--form-container__form button:hover {
    background-color: #a00;
    color: var(--second-color);
}

#name {
    margin-bottom: 25px;
}

.section--form-container__form input {
    outline: none;
    border: none;
    border-bottom: solid 2px var(--second-color);
    background-color: transparent;
    color: var(--second-color);
}

.section--form-container__form input::placeholder {
    color: #ddd;
}

/*End Form Contact Section*/

/*Footer*/

.footer {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer .footer-container div {
    margin: 10px;
}

.footer h3 {
    margin-bottom: 10px;
    color: var(--principal-color);
}

.footer p, .footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer a:hover {
    text-decoration: underline;
}

.social-media img {
    width: 30px;
    margin: 5px;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.2);
}

.copyright {
    margin-top: 15px;
    font-size: 12px;
    border-top: 1px solid #777;
    padding-top: 10px;
}


/*End Footer*/

/*Computer Size*/

@media screen and (min-width: 650px) {
    /*Nav*/
    .nav {
        gap: 5%;
    }

    .nav__title {
        display: none;
    }

    .menu--open__label--check-box {
        display: none;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: initial;
        height: auto;
    }

    .item-list__button-contact {
        border: solid 2px var(--second-color);
        border-radius: 8px;
        padding: 3px 15px;
        background-color: var(--principal-color);
        transition: background-color 0.3s;
    }

    .item-list__button-contact:hover {
        background-color: #a00;
    }

    .list__item:not(.list__item:last-child) {
        position: relative;
    }

    .list__item:hover,  .item-list__button-contact:hover {
        font-weight: normal;
    }

    .list__item::after {
        content: '';
        position: absolute;
        left: 0;
        width: 0%;
        height: 3%;
        bottom: -3px;
        background-color: var(--second-color);
        transition: width 0.3s ease-in-out;
    }

    .list__item:hover:not(.list__item:last-child)::after {
        width: 100%;
    }

    /*Header*/
    .main__header {
        background-image: url('images-folder/bc-header/back-pc-one.webp');
    }

    .header__text-tittle {
        font-size: 7.5rem;
    }

    .header__text-introduction {
        font-size: 2rem;
    }

    .header__link-information {
        font-size: 1.7em;
    }
    /*Section about*/
    .main__section-about {
        padding: 0;
        margin: 30px;
        border: solid 2px black;
        display: grid;
        grid-template-columns: 30vw 1fr;
        grid-template-rows: repeat(3, auto);
        column-gap: 30px;
    }

    .section-about__box-introduction {
        grid-column: 1/span 2;
        border-bottom: solid 2px black;
    }

    .section-about__box-about-text {
        grid-row: 2/span 2;
        border-right: solid 2px black;
        padding: 20px;
    }

    .main > div {
        margin: 30px auto;
        padding: 20px;
        width: 83%;
        min-width: 600px;
        border: solid 2px black;
        background-color: #eee;
    }
}