* {
    box-sizing: border-box;
}

body, .nav__list {
    margin: 0;
}

a, button {
    cursor: pointer;
}
/*nav part*/
nav {
    border-bottom: solid 2px;
    background-color: #48e;
    padding: 30px 20px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.nav__item {
    list-style: none;
}


.nav__item:hover:not(.nav__item:last-child) {
    text-decoration: underline red;
}

.nav__button-form {
    padding: 5px 15px;
    border-radius: 5px;
}
/*End nav part*/

/*main section one*/
main {
    text-align: center;
}

.section-one__photo-profile {
    margin: auto;
    background-image: url('/images-folder/yo.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 350px;
}
h1 {
    font-size: 2.5rem;
}

/*End main section one*/
a {
    text-decoration: none;
}